<div class="logo">
    <a href="index.html" class="logo-text">AWEYA</a>
</div>
<nav class="nav-menu">
    <a href="index.html" id="nav-index">Accueil</a>
    <a href="boutique.html" id="nav-boutique">Boutique</a>
    <a href="a-propos.html" id="nav-a-propos">À Propos</a>
    <a href="guide-tailles.html" id="nav-guide-tailles">Guide des Tailles</a>
    <a href="blog.html" id="nav-blog">Blog & Conseils</a>
</nav>
<div class="header-actions">
    <a href="#" class="icon-link" id="account-btn">Mon Compte</a>
    <a href="#" class="icon-link" id="wishlist-btn">Favoris (0)</a>
    <a href="panier.html" class="icon-link" id="cart-btn">Panier (0)</a>
</div>